# Ignore virtual environment
venv/
.env
__pycache__/

# Model files
*.pth
*.dll
*.exe
*.lib

# Cache
*.log
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environments and large model files
venv/
modules/wav2lip.pth
*.dll
*.lib
*.exe
*.pyd
