Flask==3.1.0
flask-cors==5.0.1
python-dotenv==1.1.0
gTTS==2.5.4
ffmpeg-python==0.2.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==1.0.3
opencv-python==4.11.0.86
requests==2.32.3
openai==1.68.2
annotated-types==0.7.0
anyio==4.9.0
audioread==3.0.1
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
decorator==4.4.2
distro==1.9.0
exceptiongroup==1.2.2
filelock==3.18.0
fonttools==4.56.0
fsspec==2025.3.0
future==1.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
kiwisolver==1.4.8
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
msgpack==1.1.0
networkx==3.4.2
numba==0.61.0
numpy==2.1.3
packaging==24.2
pillow==11.1.0
platformdirs==4.3.7
pooch==1.8.2
proglog==0.1.10
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soxr==0.5.0.post1
sympy==1.13.1
threadpoolctl==3.6.0
torch==2.6.0
tqdm==4.67.1
typing_extensions==4.13.0
urllib3==2.3.0
Werkzeug==3.1.3
face_detection